/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp LEFT_ALT    &kp Q  &kp W  &kp E     &kp R        &kp T        &kp Y    &kp U            &kp I         &kp O    &kp P     &kp ESCAPE
&kp LEFT_SHIFT  &kp A  &kp S  &kp D     &kp F        &kp G        &kp H    &kp J            &kp K         &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C     &kp V        &kp B        &kp N    &kp M            &kp COMMA     &kp DOT  &kp FSLH  &kp RIGHT_ALT
                              &kp LGUI  &lt 0 SPACE  &lt 0 TAB    &kp RET  &lt 0 BACKSPACE  &lt 0 DELETE
            >;
        };

        nav {
            bindings = <
&none  &kp LEFT_SHIFT        &kp LCTRL         &kp LEFT_ALT       &kp LEFT_WIN           &kp SEMICOLON    &kp K_REDO  &kp K_PASTE     &kp K_COPY      &kp K_CUT     &kp K_UNDO  &none
&none  &kp KP_ENTER          &kp SPACE         &kp TAB            &kp BACKSPACE          &kp PERIOD       &kp CAPS    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT   &none
&none  &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp SLASH        &kp INSERT  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END     &none
                                               &none              &none                  &none            &none       &none           &none
            >;
        };

        media {
            bindings = <
&none  &none  &none       &none         &none            &none         &none           &none         &none            &none       &none  &none
&none  &none  &kp K_PREV  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_NEXT    &kp C_PREVIOUS  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_NEXT  &none  &none
&none  &none  &kp K_STOP  &kp C_PAUSE   &kp K_MUTE       &none         &none           &kp C_MUTE    &kp C_PAUSE      &kp K_STOP  &none  &none
                          &none         &none            &none         &none           &none         &none
            >;
        };

        num {
            bindings = <
&kp  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN   &kp SEMICOLON    &kp LBKT   &kp N7  &kp N8  &kp N9  &kp RBKT   &kp
&kp  &kp KP_ENTER    &kp SPACE  &kp TAB       &kp BACKSPACE  &kp BACKSPACE    &kp SEMI   &kp N4  &kp N5  &kp N6  &kp EQUAL  &kp
&kp  &kp             &kp        &kp           &kp            &kp              &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp BSLH   &kp
                                &kp           &kp            &kp              &kp        &kp     &kp
            >;
        };

        sym {
            bindings = <
&kp EXCLAMATION  &kp LEFT_BRACE  &kp SQT    &kp DOUBLE_QUOTES  &kp RIGHT_BRACE   &kp QUESTION    &kp PERCENT  &kp GRAVE      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp COMMA
&kp HASH         &kp CARET       &kp EQUAL  &kp UNDERSCORE     &kp DOLLAR        &kp ASTERISK    &none        &kp BACKSPACE  &kp TAB               &kp SPACE              &kp KP_ENTER   &none
&kp TILDE        &kp LESS_THAN   &kp PIPE   &kp MINUS          &kp GREATER_THAN  &kp SLASH       &kp AT_SIGN  &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PLUS       &kp BACKSLASH
                                            &none              &none             &none           &none        &none          &none
            >;
        };

        func {
            bindings = <
&none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN    &none  &none  &none  &none  &none  &none
&none  &kp F11  &kp F4  &kp F5  &kp F6  &kp SCROLLLOCK     &none  &none  &none  &none  &none  &none
&none  &kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK    &none  &none  &none  &none  &none  &none
                        &none   &none   &none              &none  &none  &none
            >;
        };
    };
};

